h1 {
	color:blue;
	text-align:center;
	font
}

p{
	color:red;
}

div{
	background-color:teal;
	height: 100px;
	width: 100 px;
}

/*Flexport*/
.container {
	display: flex;
	flex-wrap: wrap;

}
.container >div{
	background-color: springgreen;
	font-size: 20px;
	margin:20px;
	padding: 20px;
	width: 200px;
}